* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Helvetica', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul li {
  list-style: none;
}
button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}


/* ------------- Products -------------- */

@import url('./components/mainpages/products/Products.css');

/* ---------------- Detail Product --------------- */
@import url('./components/mainpages/products/detailProduct/DetailProduct.css');

@import url('../node_modules/bootstrap/');
@import url('../node_modules/@fortawesome/fontawesome-free-webfonts/');
@import url('../node_modules/@fortawesome/fontawesome-free-webfonts/css/fa-brands.css');
@import url('../node_modules/@fortawesome/fontawesome-free-webfonts/css/fa-regular.css');
@import url('../node_modules/@fortawesome/fontawesome-free-webfonts/css/fa-solid.css');
@import url('../node_modules/@fortawesome/fontawesome-free-webfonts/css/fontawesome.css');
