.news{
    min-height:50vh;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px auto;
}
.title{
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: blue;
}
.product_price{
    font-weight: bold;
}
.news form{
    width: 290px;
    margin-bottom: 20px;
}
.news label{
    display: block;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.news input, button{
    height: 35px;
    border: none;
    outline: none;
    border-bottom: 1px solid orange;
}
.news input{
    width: 210px;
}
.news button{
    width: 70px;
    background: #555;
    color: white;
    margin-left: 10px;
}
.news .row{
    min-width: 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid orange;
    border-radius: 5px;
    box-shadow: 0 0 15px #ddd;
}
