

    .search {
        width          : fit-content;
        display        : flex;
        justify-content: center;
        align-items    : center;
        margin         : 0 auto;
        padding        : 10px;
        border-radius  : 25px;
        background     : #f7d800;

        i {
            margin: 0 5px;
            cursor: pointer;
        }

        input {
            height    : 30px;
            width     : 360px;
            background: transparent;
            border    : none;
            outline   : none;
        }


    }

    .data-search {
        overflow     : auto;
        border-radius: 5px;
        margin-top   : 2px;
        margin-left  : 550px;
        background   : #FFF;
        width        : 400px;
        height       : 280px;

        .search-specialty {




            h3 {
                padding-left: 10px;
                display     : block;
                line-height : 1.3em;
                font-size   : 16px;
                font-weight : 600;
                color       : #333;


            }

            .timkiem-ketqua {
                display: flex !important;
                border : 1px solid #eee;

                .bg-image {

                    width              : 20px;
                    height             : 20px;
                    background-position: center center;
                    background-repeat  : no-repeat;
                    background-size    : cover;
                    background-color   : #eee;
                    cursor             : pointer;
                }

                a {
                    text-transform: capitalize;
                    display     : flex;
                    padding-left: 10px;
                    color       : #333;
                    cursor      : pointer;

                    &:hover {
                        color: #00bcd4;
                    }
                }
            }


        }
    }

